#chartbox{
	border: 1px solid rgba(16, 92, 182, 0.3);
	background-color: #FFF;
	margin-right: 0.25rem;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	-webkit-flex-direction: column;
	flex-direction: column;
}
#NAVBAR ul,
#SIDEBAR ul{
	background-color: #F7F7F7 !important;
}
#NAVBAR li:hover,
#SIDEBAR li:hover{
	background-color: #E7EFF8;
}

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;	
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}