.flexbox{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;  
}
.flexbox.column-reverse{
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.flexbox.justify-center{
	-webki-justify-content: center;
	justify-content: center;
}