.flexbox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
}
.flexbox.column-reverse{
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.flexbox.justify-center{
	-webki-justify-content: center;
	justify-content: center;
}