.blocker.hide{
  filter: blur(0);
  opacity: 0;
}
.blockme .content{
    filter: blur(5px);
}
.blocker.hide{
    top: -1000px !important;
    left: -1000px !important;
    opacity: 0;

    -webkit-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -moz-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -ms-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -o-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
}
.blocker{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.85);

    opacity: 1;
    line-height: 1;

    -webkit-transition: background-color 0.5s linear 0s;
    -moz-transition: background-color 0.5s linear 0s;
    -ms-transition: background-color 0.5s linear 0s;
    -o-transition: background-color 0.5s linear 0s;
    transition: background-color 0.5s linear 0s;

    -moz-user-select: none;

    will-change: opacity;

    z-index: 1000;
}
.loading.hide{    
    top: -1000px !important;
    left: -1000px !important;

    -webkit-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -moz-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -ms-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    -o-transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;
    transition: top .41s ease-in-out .41s,left .41s ease-in-out .41s,opacity .4s ease-in-out 0s;

    opacity: 0;
}
.loading{
    position: absolute;
    z-index: 555555;
    left: calc(50% + 2em);

    -moz-user-select: none;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  transform: scale(5);
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}