
.blur.hide{
  filter: blur(0);
}
.blur{
    filter: blur(5px);  
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.loading.hide{  
  opacity: 0;
}
.loading:not(.hide){  
  opacity: 1;
}
.loading.hide{
  top: 0;
  left: 0;
  width: 0;
  height: 0;  

  transition-property: opacity,top,left,width,height;

  -webkit-transition-duration: 1s,0s,0s,0s,0s;
  -moz-transition-duration: 1s,0s,0s,0s,0s;
  -ms-transition-duration: 1s,0s,0s,0s,0s;
  -o-transition-duration: 1s,0s,0s,0s,0s;
  transition-duration: 1s,0s,0s,0s,0s;

  -webkit-transition-timing-function: ease,ease,ease,ease,ease;
  -moz-transition-timing-function: ease,ease,ease,ease,ease;
  -ms-transition-timing-function: ease,ease,ease,ease,ease;
  -o-transition-timing-function: ease,ease,ease,ease,ease;
  transition-timing-function: ease,ease,ease,ease,ease;

  -webkit-transition-delay: 0s,1s,1s,1s,1s;
  -moz-transition-delay: 0s,1s,1s,1s,1s;
  -ms-transition-delay: 0s,1s,1s,1s,1s;
  -o-transition-delay: 0s,1s,1s,1s,1s;
  transition-delay: 0s,1s,1s,1s,1s;
}
.loading{
  position:absolute;
  z-index: 5000;

  top: 50%;
  left: calc(50% + 75px);

  height: auto;
  width: auto;
  opacity: 1;
  cursor: wait;
}
.spinner{ 
  margin: 0;
  position:relative;
  animation: rotate 5s infinite ease-in-out;
}
:not(.fluid).spinner {
  width: 300px;
  height: 300px;
}

@keyframes rotate {
  0% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  20% {
    transform: perspective(500px) rotateX(0deg) rotateY(180deg);
  }
  40% {
    transform: perspective(500px) rotateX(180deg) rotateY(180deg);
  }
  60% {
    transform: perspective(500px) rotateX(0deg) rotateY(180deg);
  }
  80% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes background {
  0% {
    -webkit-filter: hue-rotate(220deg) brightness(3) saturate(5); 
    filter: hue-rotate(220deg) brightness(3) saturate(5);
  }
  50% {
    -webkit-filter: hue-rotate(0deg) brightness(3) saturate(5); 
    filter: hue-rotate(0deg) brightness(3) saturate(5);
  }
  100% {
    -webkit-filter: hue-rotate(120deg) brightness(3) saturate(5); 
    filter: hue-rotate(120deg) brightness(3) saturate(5);
  }
}

.sk-folding-cube {
  margin-left: 1em;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}