.blur.hide{
  filter: blur(0);
}
.blur{
    filter: blur(5px);  
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.loading.hide{  
  opacity: 0;
}
.loading:not(.hide){  
  opacity: 1;
}
.loading.hide{
  top: -10000;
  left: -10000;
  width: 0;
  height: 0;  

  transition-property: opacity,top,left,width,height;

  -webkit-transition-duration: 1s,0s,0s,0s,0s;
  -moz-transition-duration: 1s,0s,0s,0s,0s;
  -ms-transition-duration: 1s,0s,0s,0s,0s;
  -o-transition-duration: 1s,0s,0s,0s,0s;
  transition-duration: 1s,0s,0s,0s,0s;

  -webkit-transition-timing-function: ease,ease,ease,ease,ease;
  -moz-transition-timing-function: ease,ease,ease,ease,ease;
  -ms-transition-timing-function: ease,ease,ease,ease,ease;
  -o-transition-timing-function: ease,ease,ease,ease,ease;
  transition-timing-function: ease,ease,ease,ease,ease;

  -webkit-transition-delay: 0s,1s,1s,1s,1s;
  -moz-transition-delay: 0s,1s,1s,1s,1s;
  -ms-transition-delay: 0s,1s,1s,1s,1s;
  -o-transition-delay: 0s,1s,1s,1s,1s;
  transition-delay: 0s,1s,1s,1s,1s;
}
.loading{
  position:absolute;
  z-index: 5000;

  top: 50%;
  left: calc(50% + 75px);

  height: auto;
  width: auto;
  opacity: 1;
  cursor: wait;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}