/*
@BACKGROUND: hsl(103, 44%, 89%)
@BORDA: hsl(93, 44%, 85%);  (-10,0,-4)
@BACKGROUND_END: hsl(102, 44%, 82%); (-1,0,-7)
@BORDA_TOP: hsl(92, 45%, 79%); (-11,+1,-10)
@BORDA2: hsl(102, 45%, 75%); (-1,+1,-14)
@FONTE:  hsl(121, 33%, 35%); (+18,-11,-54)
@FONTE_LINK: hsl(121, 32%, 25%); (+18,-12,-64)

success 	hsl(121, 33%, 35%); 	hsl(103, 44%, 89%);  18 , -11 , -54
info		hsl(200, 49%, 38%); 	hsl(200, 65%, 91%);  0 ,  -16 , -53
warning 	hsl(38, 40%, 39%);		hsl(50, 81%, 94%); -12 , -41 , -55
danger		hsl(1, 44%, 46%); 		hsl(1, 43%, 91%);		1 , 1 , -45
*/
	.xtrAlert{
		border-radius: .4em;
	}
	.xtrAlertFit{
		width: intrinsic;
		width: -moz-max-content;
		width: -webkit-max-content;
	}
	.loop(@counter) when (@counter > 0) {
		.loop((@counter - 25));
		.new(@counter);
	}
	.new(@x){
		.xtrAlert{
			&@{x}{
				&px{
					width: (@x + 0px); 
				}
			}
		}
	}
	.loop(300);
 .alert(@x,@color){
	@BACKGROUND:@color;
	@BORDA: spin(saturate(lighten(@BACKGROUND,-4%),0%),-10);
	@BACKGROUND_END: spin(saturate(lighten(@BACKGROUND,-7%),0%),-1);
	@BORDA_TOP: spin(saturate(lighten(@BACKGROUND,-10%),-1%),-11);
	@BORDA2: spin(saturate(lighten(@BACKGROUND,-14%),1%),-1);
	@FONTE: spin(saturate(lighten(@BACKGROUND,-51.75%),-16.75%),1.75); 
	@FONTE_LINK: spin(saturate(lighten(@BACKGROUND,-64%),-12%),18);
	
	.xtrAlert-@{x}  {
	  color: @FONTE;
	  background-color: @BACKGROUND;
	  &:not(.noBorder){
	  	border-color: @BORDA;
	  }
	}
	.xtrAlert-@{x} hr {
	  border-top-color: @BORDA_TOP;
	}
	.xtrAlert-@{x} .xtrAlert-link {
	  color: @FONTE_LINK;
	}
	.xtrAlert-@{x} {
	  background-image: -webkit-linear-gradient(top, @BACKGROUND 0%, @BACKGROUND_END 100%);
	  background-image:         linear-gradient(to bottom, @BACKGROUND 0%, @BACKGROUND_END 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{BACKGROUND}', endColorstr='@{BACKGROUND_END}', GradientType=0);
	  background-repeat: repeat-x;
	}
}

@default:hsl(1, 0%, 90%);
@azul:hsl(213, 40%, 90%);
@vermelho:hsl(8, 40%, 90%);
@verde:hsl(130, 40%, 90%);
@roxo:hsl(270, 40%, 90%);
@laranja:hsl(30, 40%, 90%);
@amarelo:hsl(50, 40%, 90%);

.alert(default,@default);
.alert(azul,@azul);
.alert(vermelho,@vermelho);
.alert(verde,@verde);
.alert(roxo,@roxo);
.alert(laranja,@laranja);
.alert(amarelo,@amarelo);





